<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RegressionTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:41:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@4dfa3a9d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:41:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/21 12:41:30</td>   <td>16952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTests.loginTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">loginTest</td> 
  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/21 12:41:31</td>   <td>17065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTests.loginTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@4dfa3a9d]">loginTest</td> 
  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:41:33</td>   <td>19524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@4dfa3a9d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:41:34</td>   <td>20061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:41:44</td>   <td>30281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@57fffcd7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:41:45</td>   <td>31704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@271053e1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/21 12:41:52</td>   <td>38224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTests.loginTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@57fffcd7]">loginTest</td> 
  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>18/11/21 12:41:54</td>   <td>40676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongUsernameTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@271053e1]">loginWithWrongUsernameTest</td> 
  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:41:57</td>   <td>43156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@57fffcd7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:41:57</td>   <td>43748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@271053e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:07</td>   <td>53581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@2f686d1f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:10</td>   <td>56070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@271053e1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>18/11/21 12:42:18</td>   <td>64843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongPasswordTest()[pri:2, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@271053e1]">loginWithWrongPasswordTest</td> 
  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>18/11/21 12:42:18</td>   <td>64876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongUsernameTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@2f686d1f]">loginWithWrongUsernameTest</td> 
  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:20</td>   <td>66895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@2f686d1f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:23</td>   <td>69979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@271053e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:31</td>   <td>77454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@2f686d1f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:37</td>   <td>84033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>18/11/21 12:42:39</td>   <td>85801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongPasswordTest()[pri:2, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@2f686d1f]">loginWithWrongPasswordTest</td> 
  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:47</td>   <td>94023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@2f686d1f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>18/11/21 12:42:52</td>   <td>99023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongUsernameTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@5bcab519]">loginWithWrongUsernameTest</td> 
  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:58</td>   <td>104292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:42:58</td>   <td>104567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@27c20538]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>18/11/21 12:43:07</td>   <td>113653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPasswordTests.retrieveForgotPasswordTest()[pri:1, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@27c20538]">retrieveForgotPasswordTest</td> 
  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:43:08</td>   <td>114357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@5bcab519]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:43:14</td>   <td>120372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@27c20538]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="7d6068">  <td>18/11/21 12:43:15</td>   <td>121871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongPasswordTest()[pri:2, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@5bcab519]">loginWithWrongPasswordTest</td> 
  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:43:17</td>   <td>124011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@5bcab519]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:43:25</td>   <td>131853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@13805618]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:43:28</td>   <td>134253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@69ea3742]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>18/11/21 12:43:34</td>   <td>140175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPasswordTests.retrieveForgotPasswordTest()[pri:1, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@13805618]">retrieveForgotPasswordTest</td> 
  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:43:36</td>   <td>142785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@13805618]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@601373949</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>18/11/21 12:43:37</td>   <td>143847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPasswordTests.retrieveForgotPasswordTest()[pri:1, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@69ea3742]">retrieveForgotPasswordTest</td> 
  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/21 12:43:39</td>   <td>145476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@69ea3742]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1064948713</td>   <td></td> </tr>
</table>
