<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmokeTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9898eb">  <td>18/11/22 12:24:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavascriptAlertsTests.confirmAlertTest()[pri:2, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">confirmAlertTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>18/11/22 12:24:44</td>   <td>7155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavascriptAlertsTests.dismissAlertTest()[pri:3, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">dismissAlertTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/22 12:23:56</td>   <td>-40685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTests.loginTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">loginTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/11/22 12:24:15</td>   <td>-21454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongPasswordTest()[pri:2, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">loginWithWrongPasswordTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/11/22 12:24:07</td>   <td>-29786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongUsernameTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">loginWithWrongUsernameTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>18/11/22 12:24:52</td>   <td>15536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavascriptAlertsTests.promptAlertTest()[pri:4, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">promptAlertTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>18/11/22 12:24:22</td>   <td>-14273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPasswordTests.retrieveForgotPasswordTest()[pri:1, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@598067a5]">retrieveForgotPasswordTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:23:50</td>   <td>-46478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:01</td>   <td>-35757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:10</td>   <td>-26895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:18</td>   <td>-18463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@598067a5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:24</td>   <td>-12192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:32</td>   <td>-4982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:39</td>   <td>2029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:47</td>   <td>10675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>18/11/22 12:24:29</td>   <td>-7298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavascriptAlertsTests.simpleAlertTest()[pri:1, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">simpleAlertTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:01</td>   <td>-35933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:09</td>   <td>-27538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:17</td>   <td>-19111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:24</td>   <td>-12267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@598067a5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:31</td>   <td>-5093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:39</td>   <td>1940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:47</td>   <td>10567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:54</td>   <td>17554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
