<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SmokeTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:23:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>18/11/22 12:23:56</td>   <td>5793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTests.loginTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">loginTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:01</td>   <td>10545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.PositiveLoginTests@3532ec19]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:01</td>   <td>10721</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/11/22 12:24:07</td>   <td>16692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongUsernameTest()[pri:1, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">loginWithWrongUsernameTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:09</td>   <td>18940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:10</td>   <td>19583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="fa9a9d">  <td>18/11/22 12:24:15</td>   <td>25024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTests.loginWithWrongPasswordTest()[pri:2, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">loginWithWrongPasswordTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:17</td>   <td>27367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.login.tests.NegativeLoginTests@6eebc39e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:18</td>   <td>28015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@598067a5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>18/11/22 12:24:22</td>   <td>32205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPasswordTests.retrieveForgotPasswordTest()[pri:1, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@598067a5]">retrieveForgotPasswordTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:24</td>   <td>34211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.forgotpassword.tests.ForgotPasswordTests@598067a5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:24</td>   <td>34286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>18/11/22 12:24:29</td>   <td>39180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavascriptAlertsTests.simpleAlertTest()[pri:1, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">simpleAlertTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:31</td>   <td>41385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:32</td>   <td>41496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>18/11/22 12:24:37</td>   <td>46478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavascriptAlertsTests.confirmAlertTest()[pri:2, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">confirmAlertTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:39</td>   <td>48418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:39</td>   <td>48507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>18/11/22 12:24:44</td>   <td>53633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavascriptAlertsTests.dismissAlertTest()[pri:3, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">dismissAlertTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:47</td>   <td>57045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:47</td>   <td>57153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>18/11/22 12:24:52</td>   <td>62014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JavascriptAlertsTests.promptAlertTest()[pri:4, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">promptAlertTest</td> 
  <td>main@828441346</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>18/11/22 12:24:54</td>   <td>64032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.herokuapp.theinternet.javascriptalerts.tests.JavascriptAlertsTests@6500df86]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@828441346</td>   <td></td> </tr>
</table>
